<div class="item">
  <img class="item-image" [hidden]="!good.img" [src]="good.img" alt="">
  <img class="item-image" [hidden]="good.img" src="../../../assets/img/preview.png" alt="">
  <div class="item-info">
    <div class="">
      <div class="name">Name: {{good.name}}</div>
      <div class="price">Price: {{good.price}} $</div>
    </div>
    <div class="category">Category: {{goodServices.categoryGoods[good.category]}}</div>
  </div>
  <div class="button-block mt-auto">
    <button class="btn mr-10" (click)="addToChart(good)">Add to chart</button>
    <button class="btn btn-red" (click)="deleteGood(good)">Delete</button>
  </div>
</div>