<div class="table-container" *ngIf="allGoods.length">
  <table class="chart-table">
    <tr class="chart-header-row">
      <th>Id</th>
      <th>Preview</th>
      <th>Name</th>
      <th>Count</th>
      <th>Price</th>
      <th>Delete</th>
    </tr>
    <tr class="chart-row" *ngFor="let good of allGoods">
      <td>{{good.id}}</td>
      <td><img [src]="good.img" alt=""></td>
      <td>{{good.name}}</td>
      <td>{{good.count}}</td>
      <td>{{good.price}}</td>
      <td>
        <button class="btn btn-red" (click)="removeGood(good)">Remove</button>
      </td>
    </tr>
    <tr class="chart-row">
      <td colspan="4">Total price</td>
      <td colspan="2">{{totalPrice}}</td>
    </tr>
  </table>
</div>

<div class="payment" *ngIf="allGoods.length">
  <div class="card">
    <div class="card-number">
      <input class="card-number" type="text" placeholder="5168001010234421" [ngClass]="{ 'error-input': !cardValidationModel.num }" [(ngModel)]="card.num">
    </div>
    <div class="card-cvc">
      <input class="card-cvc" type="text" placeholder="325" [ngClass]="{ 'error-input': !cardValidationModel.cvc }" [(ngModel)]="card.cvc">
    </div>
    <div class="card-expiration">
      <input class="card-expiration" type="text" placeholder="09/21" [ngClass]="{ 'error-input': !cardValidationModel.expiration }" [(ngModel)]="card.expiration">
    </div>
  </div>
  <button class="btn" (click)="purchaseOrder()">Purchase order</button>
</div>
<div *ngIf="!allGoods.length" class="empty-chart">
  <div class="chart-caption">
    Chart is empty!
  </div>
  <button class="btn" [routerLink]="['../products/all']">Go to product page</button>
</div>