<div class="add-good-form">
    <img src="../../../assets/img/preview.png" alt="" id="preview" class="preview">
    <label class="btn" for="file">Browse file</label>
    <input type="file" id="file" (change)="changeListener($event)">
    <input type="text" placeholder="Name" [(ngModel)]="newProduct.name" required>

    <select name="category" id="category" [(ngModel)]="newProduct.category">
        <option value="1">category 1</option>
        <option value="2">category 2</option>
        <option value="3">category 3</option>
    </select>
    <input type="text" placeholder="Price" [(ngModel)]="newProduct.price">
    <div class="radio-group">
        <label for="in-stock-false">yes</label>
        <input id="in-stock-false" type="radio" name="in-stock" [value]="true" [(ngModel)]="newProduct.inStock">
        <label for="in-stock-true">no</label>
        <input id="in-stock-true" type="radio" name="in-stock" [value]="false" [(ngModel)]="newProduct.inStock">
    </div>
    <div class="button-block">
        <button class="btn mr-10" (click)="addNewProduct()">Add new product</button>
        <button class="btn btn-red" [routerLink]="['../../products/all']">Back to list</button>
    </div>
</div>