<div class="filter-panel">
  <div class="input-box">
    <div class="search-bar">
      <input type="text" placeholder="Search" [(ngModel)]="filterObject.name">
    </div>
    <div class="category">
      <select name="" id="" [(ngModel)]="filterObject.category">
        <option [attr.value]="i" *ngFor="let category of goodService.categoryGoods; let i = index">{{category}}</option>

      </select>
    </div>
    <button class="btn" (click)="applyFilter()">Search</button>
  </div>
  <div class="input-box">
    <div class="price-from">
      <input type="text" placeholder="From" [(ngModel)]="filterObject.priceFrom">
    </div>
    <div class="price-to">
      <input type="text" placeholder="To" [(ngModel)]="filterObject.priceTo">
    </div>
  </div>
</div>
<div class="active-filter-panel"  [hidden]="!showClearAll">
  <span class="search mr-10" [hidden]="!choosenFilter.name">
    <span>{{choosenFilter.name}}</span>
    <span class="ml-10" (click)="removeName();">x</span>
  </span>
  <span class="category mr-10" [hidden]="!choosenFilter.category!='0'">
    <span>{{goodService.categoryGoods[choosenFilter.category]}}</span>
    <span class="ml-10 remove" (click)="removeCategory();">x</span>
  </span>
  <span class="price-from mr-10" [hidden]="!choosenFilter.priceFrom">
      <span>{{choosenFilter.priceFrom}}</span>
      <span class="ml-10 remove" (click)="removePriceFrom();">x</span>
  </span>
  <span class="price-to mr-10" [hidden]="!choosenFilter.priceTo">
      <span>{{choosenFilter.priceTo}}</span>
      <span class="ml-10 remove" (click)="removePriceTo();">x</span>
  </span>
  <span class="clear-all" [hidden]="!(choosenFilter.priceTo || choosenFilter.priceFrom || choosenFilter.category != 0 || choosenFilter.name)">
    <button class="btn clear-all" (click)="clearAll();" [hidden]="!showClearAll">Clar all</button>
  </span>
</div>
<div class="item-counter">
  Result {{allGoods.length}}
</div>
<div class="item-wrapper">
  <app-single-good *ngFor="let good of allGoods" [good]="good" (deleteAction)="refreshView($event);"></app-single-good>
</div>